<!-- <span>{{ title }} app is running!</span> -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Vindy's Cart</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Products<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<section class="container-fluid px-0">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
          <h1 class="text-center">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
          <h1 class="text-center">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
          <h1 class="text-center">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
          <h1 class="text-center">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
          <h1 class="text-center">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
          <h1 class="text-center">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
          <h1 class="text-center">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
      </div>
    </div>
    <div class="col-lg-6">
      <img src="images/hand2.png" class="img-fluid" alt="">
    </div>
  </div>
</section>

<section class="container-fluid px-0">
  <div class="row align-items-center content">
    <div class="col-md-6 order-2 order-md-1">
      <img src="images/milk.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 text-center order-1 order-md-2">
        <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                <h2>MUSEUM OF CANDY</h2>
                <img src="images/lolli_icon.png" alt="" class="d-none d-lg-inline">
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quibusdam recusandae deserunt dicta blanditiis, atque pariatur voluptatibus, repudiandae perspiciatis sed reprehenderit, laborum hic a rem autem impedit et. Hic at placeat ratione doloribus eveniet quos commodi modi voluptates illo sit mollitia, consequuntur a ullam dolorem dicta. Error nulla consequatur cupiditate quod, commodi illo reiciendis nihil blanditiis ut reprehenderit sapiente placeat iste dolores veniam! Cumque nihil sit, culpa totam eius quis. Repudiandae laudantium quisquam, molestiae recusandae culpa in reprehenderit neque sit amet sapiente laborum quae tempora officiis aliquid exercitationem expedita quasi excepturi labore. Mollitia obcaecati alias corrupti numquam cupiditate ad quam.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row align-items-center content">
    <div class="col-md-6 text-center">
        <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                <h2>MUSEUM OF CANDY</h2>
                <img src="images/lolli_icon.png" alt="" class="d-none d-lg-inline">
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quibusdam recusandae deserunt dicta blanditiis, atque pariatur voluptatibus, repudiandae perspiciatis sed reprehenderit, laborum hic a rem autem impedit et. Hic at placeat ratione doloribus eveniet quos commodi modi voluptates illo sit mollitia, consequuntur a ullam dolorem dicta. Error nulla consequatur cupiditate quod, commodi illo reiciendis nihil blanditiis ut reprehenderit sapiente placeat iste dolores veniam! Cumque nihil sit, culpa totam eius quis. Repudiandae laudantium quisquam, molestiae recusandae culpa in reprehenderit neque sit amet sapiente laborum quae tempora officiis aliquid exercitationem expedita quasi excepturi labore. Mollitia obcaecati alias corrupti numquam cupiditate ad quam.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
      <img src="images/gumball.png" class="img-fluid" alt="">
    </div>
  </div>
  <div class="row align-items-center content">
    <div class="col-md-6 order-2 order-md-1">
      <img src="images/sprinkles.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 text-center order-1 order-md-2">
        <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                <h2>MUSEUM OF CANDY</h2>
                <img src="images/lolli_icon.png" alt="" class="d-none d-lg-inline">
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quibusdam recusandae deserunt dicta blanditiis, atque pariatur voluptatibus, repudiandae perspiciatis sed reprehenderit, laborum hic a rem autem impedit et. Hic at placeat ratione doloribus eveniet quos commodi modi voluptates illo sit mollitia, consequuntur a ullam dolorem dicta. Error nulla consequatur cupiditate quod, commodi illo reiciendis nihil blanditiis ut reprehenderit sapiente placeat iste dolores veniam! Cumque nihil sit, culpa totam eius quis. Repudiandae laudantium quisquam, molestiae recusandae culpa in reprehenderit neque sit amet sapiente laborum quae tempora officiis aliquid exercitationem expedita quasi excepturi labore. Mollitia obcaecati alias corrupti numquam cupiditate ad quam.</p>
            </div>
        </div>
    </div>
  </div>
</section>


  
