body{
    background: #fff;
    /* background: #969292; */
    font-family: "Nunito",sans-serif;
}

.cart-item{
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px #807e7d solid;
    margin-bottom: 20px;
}

.cart-item img{
    width: 200px;
}




